.container {
  display: grid;
  grid-template-columns: 30fr 70fr;
  gap: 2rem;
}
.nav-buttons {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}
.page-buttons {
  display: flex;
  /* justify-content: center; */
  gap: 8rem;
}
.form-page {
  display: none;
}

.form-page.active {
  display: block;
}
