@media (min-width: 53rem) {
  /* 85rem */
  .main-container {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: auto;
    min-height: 60vh;
    gap: 1rem;

    background: var(--white);
    padding: 1rem;
    border-radius: 1rem;
  }

  .side-bar {
    all: unset;

    grid-row: 1/3;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .step-container {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }
  .step-btn {
    width: 3rem;
    height: 3rem;
  }
  .step-content {
    display: block;
    color: var(--light-gray);
  }
  .step-p {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
  }
  .step-description {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .main-content {
    transform: unset;
    border-radius: unset;
    padding: 4rem 2rem;
    max-width: 100%;
    min-height: 70rem;
  }
  .btn-container {
    grid-column: 2;
    grid-row: 2;
  }
}
